In [2]:
import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

In [3]:
pwd

'C:\\Users\\atish\\OneDrive\\Desktop\\vezeo\\ipynb files'

In [5]:
cars_train= pd.ExcelFile("Data_Train.xlsx")
sheet_train=pd.read_excel("Data_Train.xlsx")

In [6]:
car_test= pd.ExcelFile("Data_Test.xlsx")
sheet_test=pd.read_excel("Data_Test.xlsx")

In [7]:
X_train, X_test, y_train, y_test = train_test_split(sheet_train.iloc[:, :-1], sheet_train.iloc[:, -1], test_size = 0.3, 
                                                    random_state = 42)

In [8]:
sep_train = X_train["Name"].str.split(" ", expand = True)
sep_test = X_test["Name"].str.split(" ", expand = True)

In [9]:
X_train["Company"] = sep_train[0]
X_test["Company"] = sep_test[0]

In [10]:
X_train.Company.isnull().sum()

0

In [11]:
X_train.drop("Name", axis = 1, inplace = True)
X_test.drop("Name", axis = 1, inplace = True)

In [12]:
X_train.drop("Location", axis = 1, inplace = True)
X_test.drop("Location", axis = 1, inplace = True)

In [13]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4213 entries, 4201 to 860
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4213 non-null   int64
 1   Kilometers_Driven  4213 non-null   int64
 2   Fuel_Type          4213 non-null   object
 3   Transmission       4213 non-null   object
 4   Owner_Type         4213 non-null   object
 5   Mileage            4212 non-null   object
 6   Engine             4189 non-null   object
 7   Power              4189 non-null   object
 8   Seats              4185 non-null   float64
 9   Company            4213 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 362.1+ KB

In [14]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1806 entries, 2868 to 3926
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               1806 non-null   int64
 1   Kilometers_Driven  1806 non-null   int64
 2   Fuel_Type          1806 non-null   object
 3   Transmission       1806 non-null   object
 4   Owner_Type         1806 non-null   object
 5   Mileage            1805 non-null   object
 6   Engine             1794 non-null   object
 7   Power              1794 non-null   object
 8   Seats              1792 non-null   float64
 9   Company            1806 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 155.2+ KB

In [15]:
mileage_train = X_train["Mileage"].str.split(" ", expand = True)
mileage_test = X_test["Mileage"].str.split(" ", expand = True)

X_train["Mileage"] = pd.to_numeric(mileage_train[0], errors = 'coerce')
X_test["Mileage"] = pd.to_numeric(mileage_test[0], errors = 'coerce')

In [16]:
print(sum(X_train["Mileage"].isnull()))
print(sum(X_test["Mileage"].isnull()))

1
1

In [17]:
X_train["Mileage"].fillna(X_train["Mileage"].astype("float64").mean(), inplace = True)
X_test["Mileage"].fillna(X_train["Mileage"].astype("float64").mean(), inplace = True)

In [18]:
engine_train = X_train["Engine"].str.split(" ", expand = True)
engine_test = X_test["Engine"].str.split(" ", expand = True)
X_train["Engine"] = pd.to_numeric(engine_train[0], errors = 'coerce')
X_test["Engine"] = pd.to_numeric(engine_test[0], errors = 'coerce')

power_train = X_train["Power"].str.split(" ", expand = True)
power_test = X_test["Power"].str.split(" ", expand = True)
X_train["Power"] = pd.to_numeric(power_train[0], errors = 'coerce')
X_test["Power"] = pd.to_numeric(power_test[0], errors = 'coerce')

In [19]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4213 entries, 4201 to 860
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4213 non-null   int64
 1   Kilometers_Driven  4213 non-null   int64
 2   Fuel_Type          4213 non-null   object
 3   Transmission       4213 non-null   object
 4   Owner_Type         4213 non-null   object
 5   Mileage            4213 non-null   float64
 6   Engine             4189 non-null   float64
 7   Power              4121 non-null   float64
 8   Seats              4185 non-null   float64
 9   Company            4213 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 362.1+ KB

In [20]:
X_train["Engine"].fillna(X_train["Engine"].astype("float64").mean(), inplace = True)
X_test["Engine"].fillna(X_train["Engine"].astype("float64").mean(), inplace = True)
X_train["Power"].fillna(X_train["Power"].astype("float64").mean(), inplace = True)
X_test["Power"].fillna(X_train["Power"].astype("float64").mean(), inplace = True)
X_train["Seats"].fillna(X_train["Seats"].astype("float64").mean(), inplace = True)
X_test["Seats"].fillna(X_train["Seats"].astype("float64").mean(), inplace = True)

In [21]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4213 entries, 4201 to 860
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4213 non-null   int64
 1   Kilometers_Driven  4213 non-null   int64
 2   Fuel_Type          4213 non-null   object
 3   Transmission       4213 non-null   object
 4   Owner_Type         4213 non-null   object
 5   Mileage            4213 non-null   float64
 6   Engine             4213 non-null   float64
 7   Power              4213 non-null   float64
 8   Seats              4213 non-null   float64
 9   Company            4213 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 362.1+ KB

In [22]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1806 entries, 2868 to 3926
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               1806 non-null   int64
 1   Kilometers_Driven  1806 non-null   int64
 2   Fuel_Type          1806 non-null   object
 3   Transmission       1806 non-null   object
 4   Owner_Type         1806 non-null   object
 5   Mileage            1806 non-null   float64
 6   Engine             1806 non-null   float64
 7   Power              1806 non-null   float64
 8   Seats              1806 non-null   float64
 9   Company            1806 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 155.2+ KB

In [23]:
X_train = pd.get_dummies(X_train,columns = ["Company", "Fuel_Type", "Transmission", "Owner_Type"],drop_first = True)

In [24]:
X_test = pd.get_dummies(X_test,columns = ["Company", "Fuel_Type", "Transmission", "Owner_Type"],drop_first = True)

In [25]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4213 entries, 4201 to 860
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       4213 non-null   int64
 1   Kilometers_Driven          4213 non-null   int64
 2   Mileage                    4213 non-null   float64
 3   Engine                     4213 non-null   float64
 4   Power                      4213 non-null   float64
 5   Seats                      4213 non-null   float64
 6   Company_BMW                4213 non-null   uint8
 7   Company_Chevrolet          4213 non-null   uint8
 8   Company_Datsun             4213 non-null   uint8
 9   Company_Fiat               4213 non-null   uint8
 10  Company_Force              4213 non-null   uint8
 11  Company_Ford               4213 non-null   uint8
 12  Company_Honda              4213 non-null   uint8
 13  Company_Hyundai            4213 non-null   uint8
 14  Company_ISUZU              4213 non-null   uint8
 15  Company_Isuzu              4213 non-null   uint8
 16  Company_Jaguar             4213 non-null   uint8
 17  Company_Jeep               4213 non-null   uint8
 18  Company_Lamborghini        4213 non-null   uint8
 19  Company_Land               4213 non-null   uint8
 20  Company_Mahindra           4213 non-null   uint8
 21  Company_Maruti             4213 non-null   uint8
 22  Company_Mercedes-Benz      4213 non-null   uint8
 23  Company_Mini               4213 non-null   uint8
 24  Company_Mitsubishi         4213 non-null   uint8
 25  Company_Nissan             4213 non-null   uint8
 26  Company_Porsche            4213 non-null   uint8
 27  Company_Renault            4213 non-null   uint8
 28  Company_Skoda              4213 non-null   uint8
 29  Company_Tata               4213 non-null   uint8
 30  Company_Toyota             4213 non-null   uint8
 31  Company_Volkswagen         4213 non-null   uint8
 32  Company_Volvo              4213 non-null   uint8
 33  Fuel_Type_Diesel           4213 non-null   uint8
 34  Fuel_Type_Electric         4213 non-null   uint8
 35  Fuel_Type_LPG              4213 non-null   uint8
 36  Fuel_Type_Petrol           4213 non-null   uint8
 37  Transmission_Manual        4213 non-null   uint8
 38  Owner_Type_Fourth & Above  4213 non-null   uint8
 39  Owner_Type_Second          4213 non-null   uint8
 40  Owner_Type_Third           4213 non-null   uint8
dtypes: float64(4), int64(2), uint8(35)
memory usage: 374.4 KB

In [26]:
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_predict = rf.predict(X_test)
r2_score(y_test, y_predict)

0.8418904009952224

#I had tried with Linear Regression but Random forest had the better prediction score(.826)
#Inference:
#Towardsdatascience.com
#analyticsindiamag.com

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = sc.inverse_transform(lr.predict(X_test))
for i in range(len(y_pred)):
   if y_pred[i] < 0:
       y_pred[i] = 0
print("\n\n Linear Regression SCORE : ", score(y_pred, y_test))

ValueError: operands could not be broadcast together with shapes (1806,) (41,) (1806,)

In [32]:
linearRegression = LinearRegression()
linearRegression.fit(X_train, y_train)
y_pred = linearRegression.predict(X_test)
r2_score(y_test, y_pred)

-0.024072429133415785

In [33]:
#Predicting the test data
rf2 = RandomForestRegressor()
rf2.fit(X_train, y_train)
y_predict2 = rf2.predict(X_test)

In [34]:
y_predict

array([ 3.9761, 14.3273, 10.3061, ...,  4.3385,  6.3623,  7.5107])