In [1]:
import pandas as pd
data_test = pd.read_excel('Data_Test.xlsx')

In [2]:
import pandas as pd
brand_name=[]
model_name=[]
for index, rows in data_test.iterrows():
    brand_name.append(rows['Name'].split()[0].lower().replace('-',''))
    model_name.append(rows['Name'].split()[1].lower())

In [3]:
data_test['Brand']=brand_name
data_test['Model']=model_name

In [4]:
data_test.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               0
Engine               10
Power                10
Seats                11
Brand                 0
Model                 0
dtype: int64

In [5]:
data_test["Power"] = data_test["Power"].str.split(" ", expand = True)
data_test["Mileage"] = data_test["Mileage"].str.split(" ", expand = True)
data_test["Engine"] = data_test["Engine"].str.split(" ", expand = True)

In [6]:
data_test[data_test['Engine'].isnull()]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Brand,Model
23,Skoda Laura 1.8 TSI Ambition,Bangalore,2009,72000,Petrol,Manual,Second,17.5,NaN,NaN,NaN,skoda,laura
522,Toyota Etios Liva Diesel TRD Sportivo,Bangalore,2012,56600,Diesel,Manual,First,23.59,NaN,NaN,NaN,toyota,etios
525,Hyundai i20 new Sportz AT 1.4,Bangalore,2012,58000,Petrol,Automatic,Second,15.0,NaN,NaN,NaN,hyundai,i20
614,Mahindra TUV 300 P4,Kolkata,2016,27000,Diesel,Manual,First,0.0,NaN,NaN,NaN,mahindra,tuv
624,BMW 5 Series 520d Sedan,Bangalore,2009,150000,Diesel,Automatic,Second,18.48,NaN,NaN,NaN,bmw,5
632,Maruti Swift 1.3 VXi,Kolkata,2015,36009,Petrol,Manual,First,16.1,NaN,NaN,NaN,maruti,swift
658,Fiat Punto 1.4 Emotion,Jaipur,2010,65000,Petrol,Manual,Third,14.6,NaN,NaN,NaN,fiat,punto
666,Maruti Swift 1.3 VXi,Pune,2010,115000,Petrol,Manual,Second,16.1,NaN,NaN,NaN,maruti,swift
861,BMW 5 Series 520d Sedan,Chennai,2009,95000,Diesel,Automatic,Second,18.48,NaN,NaN,NaN,bmw,5
883,Toyota Etios Liva V,Kochi,2012,59311,Petrol,Manual,First,18.3,NaN,NaN,NaN,toyota,etios

In [7]:
Engine_train = data_test["Engine"].str.split(" ", expand = True)
data_test["Engine"] = pd.to_numeric(Engine_train[0], errors = 'coerce')
data_test["Engine"].fillna(data_test["Engine"].astype("float64").mean(), inplace = True)

In [8]:
Power_train = data_test["Power"].str.split(" ", expand = True)
data_test["Power"] = pd.to_numeric(Power_train[0], errors = 'coerce')
data_test["Power"].fillna(data_test["Power"].astype("float64").mean(), inplace = True)

In [9]:
data_test["Seats"].fillna(data_test["Seats"].astype("float64").mean(), inplace = True)

In [10]:
data_test.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Brand                0
Model                0
dtype: int64

In [11]:
data_test.to_pickle('data_test_after_cleaning.pkl')

In [13]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1234 non-null   object
 1   Location           1234 non-null   object
 2   Year               1234 non-null   int64
 3   Kilometers_Driven  1234 non-null   int64
 4   Fuel_Type          1234 non-null   object
 5   Transmission       1234 non-null   object
 6   Owner_Type         1234 non-null   object
 7   Mileage            1234 non-null   object
 8   Engine             1234 non-null   float64
 9   Power              1234 non-null   float64
 10  Seats              1234 non-null   float64
 11  Brand              1234 non-null   object
 12  Model              1234 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 125.5+ KB